.banner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
  }
  .mat-icon-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.button-group {
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .banner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .template-options {
    display: flex;
    .mat-form-field {
      width: auto;
      margin-right: 20px;
    }
  }
  .image-fields {
    display: flex;
    .mat-form-field {
      width: auto;
    }
  }
  .messages-group {
    display: flex;
    .mat-form-field {
      width: auto;
      margin-right: 20px;
    }
  }
  .button-group {
    display: flex;
    justify-content: flex-start;
  }
}
