<mat-form-field appearance="outline">
  <mat-label>Order Status</mat-label>
  <mat-select>
    <mat-option value="Process">Process</mat-option>
    <mat-option value="Ready">Ready</mat-option>
    <mat-option value="Out for Delivery">Out for Delivery</mat-option>
    <mat-option value="Complete">Complete</mat-option>
  </mat-select>
</mat-form-field>
<div mat-dialog-actions class="button-group">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close color="primary">Apply Filter</button>
</div>
