<div class="cart-options-container">
  <div class="cart-options">
    <div>
      <h4 class="cart-options-title">Order Details</h4>
      <table class="table-sm">
        <tr>
          <td width="40">Name</td>
          <td width="60"><b>Akif Khan</b></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><b>+92 345 9680375</b></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><b>44 main street, g11/4 islamabad</b></td>
        </tr>
        <tr>
          <td>Order Time</td>
          <td><b>09:15 pm</b></td>
        </tr>
        <tr>
          <td>Stats</td>
          <td><b class="order-status process">Process</b></td>
        </tr>
      </table>
    </div>
  </div>
  <hr />
  <div class="cart-options-additional-items">
    <div>
      <p><b>Egg and Toast</b></p>
      <p>Deliciuos egg with toast</p>
    </div>
    <div>
      <p class="cart-options-total">740.00</p>
    </div>
  </div>
  <div class="cart-options-additional-items">
    <div>
      <p>
        <b>Soft Drink</b>
      </p>
      <p>Coke</p>
    </div>
  </div>
  <div class="cart-options-additional-items">
    <div>
      <p>
        <b>Sauces</b>
      </p>
      <p><span>Extra cheese</span></p>
    </div>
  </div>
  <div class="cart-options-additional-items">
    <div class="flex-container">
      <p>
        <b>Additional Items</b>
      </p>
      <p class="flex"><span>Beef Pepperoni</span><span>+230.00</span></p>
      <p class="flex"><span>Beef Salami</span><span>+250.00</span></p>
    </div>
  </div>
  <div class="cart-options-additional-items">
    <div>
      <p><b>Special Instructions</b></p>
      <p>test</p>
    </div>
  </div>

  <div class="cart-options-additional-items">
    <h3 class="flex"><span>Order total</span> <span>1220.00</span></h3>
  </div>

  <div class="cart-options-footer">
    <div class="cart-button-container">
      <button mat-flat-button color="warn" class="add-to-cart-btn">
        Close
      </button>
    </div>
  </div>
</div>
